*.pyc
**/__pycache__
**/.DS_Store
env
.vscode
hookScripts
notes
log
deprecated
*.code-workspace
config/
ezAlgoConfig

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg