aenum==3.1.15
pandas==2.2.1
PyYAML==6.0.1
PySide6-Essentials==6.5.2
matplotlib==3.7.2
dataclass-wizard==0.22.2
keyring==24.2.0
openai==0.28.0
qt-material==2.14
PyAutoGUI==0.9.54
soundfile==0.12.1
sounddevice==0.4.6
python-calamine==0.1.7